[Unit]
Description=ALARI User Setup
After=systemd-sysusers.service
Before=systemd-user-sessions.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/alari-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
